/* variables */
/* fonts, colors */
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);

  --font-fam-headings: 'Poppins', sans-serif;
  --font-fam-body: 'Open Sans', sans-serif;
  --font-weight-reg: 400;
  --font-weight-semi-bold: 600;

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

/* boilerplate */
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: var(--font-fam-body);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 40px;
  padding: 0;
  background: var(--violet) url(images/bg-mobile.svg) top left no-repeat;
  background-size: contain;
  color: var(--white);
  text-align: center;
  transition: all .1s;
  display: grid;
  justify-content: center;
  align-content: flex-start;
}

/* typography */
h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

/* component */

nav > img {
  float: left;
}

nav::after {
  content: '';
  clear: both;
  display: table;
}

.main-container {
  margin: 65px 0px;
  display: grid;
  gap: 80px;
  font-weight: var(--font-weight-reg);
}

aside > img {
  width: 100%;
}

main > h1 {
  font-weight: var(--font-weight-semi-bold);
}

main > a {
  font-size: 12px;
  display: inline-block;
  background-color: var(--white);
  color: var(--violet);
  padding: 10px 80px;
  border-radius: 20px;
  box-shadow: 0px 2px 6px var(--black);
  transition: all .3s ease;
}

.register-btn:hover {
  color: var(--white);
  background-color: var(--soft-magenta);
}

footer > a {
  font-size: 16px;
  margin: 5px;
  color: var(--white);
  border: 1px solid var(--white);
  display: inline-block;
  padding: 4px 8px;
  border-radius: 50%;
}

footer > a:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
  transition: all .3s ease;
}
.fa-facebook-f {
  padding-right: 2px;
  padding-left: 3px;
}

@media (min-width:1440px) {
  body {
    margin: 60px;
    background: var(--violet) url(images/bg-desktop.svg) no-repeat;
    background-size: contain;
    min-height: 100vh;
    text-align: left;
  }
  nav > img {
    width: 220px;
  }
  aside {
    max-width: fit-content;
  }
  .main-container {
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
  main {
    padding: 50px;
    font-size: 1.3em;
  }
  main > a {
    font-size: 14px;
    padding: 10px 50px;
  }
  footer {
    text-align: right;
  }
}